body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: url(./image/anhdangky.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 20px 30px;
  margin: 20px auto;
  background-color: transparent; /* Màu trắng cho hộp nội dung */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #1e488f;
  backdrop-filter: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: #0277bd;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  color: #0277bd;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #81d4fa;
  border-radius: 4px;
  background-color: #e1f5fe;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #0288d1;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0277bd; /* Màu xanh đậm hơn khi hover */
}

.support-links {
  text-align: center;
  margin-top: 10px;
}

.support-links a {
  color: #01579b; /* Màu xanh cho liên kết hỗ trợ */
  text-decoration: none;
}

.support-links a:hover {
  text-decoration: underline;
}
.form-group .input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input-wrapper input {
  flex: 1;
  padding-right: 30px;
  padding: 8px;
  border: 1px solid #81d4fa;
  border-radius: 4px;
  background-color: #e1f5fe;
}

.input-wrapper i {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #0277bd;
}
