body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
}

.container {
  backdrop-filter: blur(10px) brightness(0.9);
}

.input-group-text {
  font-size: 20px;
}
.text-light-purple {
  color: #d1a7f5; /* Mã màu tím sáng */
}

button:hover {
  background-color: #0277bd;
}

a:hover {
  text-decoration: underline;
}

.language-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Định dạng chung cho dropdown */
.language-dropdown {
  width: auto;
  padding: 5px 10px;
  border: 2px solid #007bff; /* Đường viền màu xanh */
  border-radius: 8px; /* Bo góc */
  background: linear-gradient(45deg, #ffffff, #e9ecef); /* Nền chuyển màu */
  font-weight: bold;
  font-size: 14px;
  color: #007bff; /* Màu chữ xanh */
  outline: none;
  transition: all 0.3s ease; /* Hiệu ứng chuyển đổi */
  cursor: pointer;
}

/* Khi di chuột vào dropdown */
.language-dropdown:hover {
  border-color: #0056b3; /* Đổi màu viền */
  background: linear-gradient(45deg, #e9ecef, #ffffff); /* Đổi hướng gradient */
  color: #0056b3; /* Đổi màu chữ */
}

/* Khi dropdown đang được chọn */
.language-dropdown:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Hiệu ứng đổ bóng */
}

/* Tuỳ chỉnh màu sắc cho các tùy chọn */
.language-dropdown option {
  background-color: #f8f9fa; /* Màu nền của tùy chọn */
  color: #007bff; /* Màu chữ */
}
